.ept-paragraph-image-gallery.one_column .ept-container .field--name-field-ept-image-gallery {
  display: grid;
  gap: 15px;
  grid-template-columns: auto;
}
.ept-paragraph-image-gallery.one_column .ept-container .field--name-field-ept-image-gallery .field__item .field--name-field-media-image .field__item img {
  width: 100%;
  height: 250px;
  -o-object-fit: cover;
  object-fit: cover;
}
@media (min-width: 481px) {
  .ept-paragraph-image-gallery.one_column .ept-container .field--name-field-ept-image-gallery .field__item .field--name-field-media-image .field__item img {
    height: 450px;
  }
}
.ept-paragraph-image-gallery.two_columns .ept-container .field--name-field-ept-image-gallery {
  display: grid;
  gap: 15px;
  grid-template-columns: auto;
}
@media (min-width: 481px) {
  .ept-paragraph-image-gallery.two_columns .ept-container .field--name-field-ept-image-gallery {
    grid-template-columns: auto auto;
  }
}
.ept-paragraph-image-gallery.two_columns .ept-container .field--name-field-ept-image-gallery .field__item .field--name-field-media-image .field__item img {
  width: 100%;
  height: 250px;
}
.ept-paragraph-image-gallery.three_columns .ept-container .field--name-field-ept-image-gallery {
  display: grid;
  gap: 15px;
  grid-template-columns: auto;
}
@media (min-width: 481px) {
  .ept-paragraph-image-gallery.three_columns .ept-container .field--name-field-ept-image-gallery {
    grid-template-columns: auto auto auto;
  }
}
.ept-paragraph-image-gallery.three_columns .ept-container .field--name-field-ept-image-gallery .field__item .field--name-field-media-image .field__item img {
  width: 100%;
  height: 250px;
  -o-object-fit: cover;
  object-fit: cover;
}
.ept-paragraph-image-gallery.four_columns .ept-container .field--name-field-ept-image-gallery {
  display: grid;
  gap: 15px;
  grid-template-columns: auto;
}
@media (min-width: 481px) {
  .ept-paragraph-image-gallery.four_columns .ept-container .field--name-field-ept-image-gallery {
    grid-template-columns: auto auto;
  }
}
@media (min-width: 769px) {
  .ept-paragraph-image-gallery.four_columns .ept-container .field--name-field-ept-image-gallery {
    grid-template-columns: auto auto auto auto;
  }
}
.ept-paragraph-image-gallery.four_columns .ept-container .field--name-field-ept-image-gallery .field__item .field--name-field-media-image .field__item img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
  object-fit: cover;
}
.ept-paragraph-image-gallery.five_columns .ept-container .field--name-field-ept-image-gallery {
  display: grid;
  gap: 15px;
  grid-template-columns: auto;
}
@media (min-width: 481px) {
  .ept-paragraph-image-gallery.five_columns .ept-container .field--name-field-ept-image-gallery {
    grid-template-columns: auto auto;
  }
}
@media (min-width: 769px) {
  .ept-paragraph-image-gallery.five_columns .ept-container .field--name-field-ept-image-gallery {
    grid-template-columns: repeat(5, auto);
  }
}
.ept-paragraph-image-gallery.five_columns .ept-container .field--name-field-ept-image-gallery .field__item .field--name-field-media-image .field__item img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
  object-fit: cover;
}
.ept-paragraph-image-gallery.fixed_size_image .ept-container .field--name-field-ept-image-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.ept-paragraph-image-gallery.fixed_size_image .ept-container .field--name-field-ept-image-gallery .field__item {
  width: 100%;
  margin-bottom: 15px;
}
@media (min-width: 481px) {
  .ept-paragraph-image-gallery.fixed_size_image .ept-container .field--name-field-ept-image-gallery .field__item {
    width: 200px;
  }
}
.ept-paragraph-image-gallery.fixed_size_image .ept-container .field--name-field-ept-image-gallery .field__item .field--name-field-media-image .field__item img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
  object-fit: cover;
}
.ept-paragraph-image-gallery.fluid_grid .ept-container .field--name-field-ept-image-gallery {
  -moz-column-gap: 10px;
  column-gap: 10px;
  -moz-columns: 1;
  columns: 1;
}
@media (min-width: 481px) {
  .ept-paragraph-image-gallery.fluid_grid .ept-container .field--name-field-ept-image-gallery {
    -moz-columns: 2;
    columns: 2;
  }
}
@media (min-width: 769px) {
  .ept-paragraph-image-gallery.fluid_grid .ept-container .field--name-field-ept-image-gallery {
    -moz-columns: 3;
    columns: 3;
  }
}
@media (min-width: 1025px) {
  .ept-paragraph-image-gallery.fluid_grid .ept-container .field--name-field-ept-image-gallery {
    -moz-columns: 4;
    columns: 4;
  }
}
.ept-paragraph-image-gallery.fluid_grid .ept-container .field--name-field-ept-image-gallery .field__item img {
  margin-bottom: 15px;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  height: 200px;
}
@media (min-width: 481px) {
  .ept-paragraph-image-gallery.fluid_grid .ept-container .field--name-field-ept-image-gallery .field__item img {
    height: auto;
  }
}
.ept-paragraph-image-gallery.featured_images_grid .ept-container .field--name-field-ept-image-gallery {
  -moz-column-gap: 10px;
  column-gap: 10px;
  -moz-columns: 1;
  columns: 1;
}
@media (min-width: 481px) {
  .ept-paragraph-image-gallery.featured_images_grid .ept-container .field--name-field-ept-image-gallery {
    -moz-columns: 2;
    columns: 2;
  }
}
@media (min-width: 769px) {
  .ept-paragraph-image-gallery.featured_images_grid .ept-container .field--name-field-ept-image-gallery {
    -moz-columns: 3;
    columns: 3;
  }
}
.ept-paragraph-image-gallery.featured_images_grid .ept-container .field--name-field-ept-image-gallery .field__item img {
  margin-bottom: 15px;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  height: 200px;
}
@media (min-width: 481px) {
  .ept-paragraph-image-gallery.featured_images_grid .ept-container .field--name-field-ept-image-gallery .field__item:nth-child(1) img {
    height: 415px;
  }
}
