.ept-paragraph-image-gallery {
  &.one_column {
    .ept-container {
      .field--name-field-ept-image-gallery {
        display: grid;
        gap: 15px;
        grid-template-columns: auto;
        .field__item {
          .field--name-field-media-image {
            .field__item {
              img {
                width: 100%;
                height: 250px;
                object-fit: cover;
                @media(min-width: 481px) {
                  height: 450px;
                }
              }
            }
          }
        }
      }
    }
    // Full width images in one column.
  }
  &.two_columns {
    .ept-container {
      .field--name-field-ept-image-gallery {
        display: grid;
        gap: 15px;
        grid-template-columns: auto;
        @media(min-width:481px) {
          grid-template-columns: auto auto;
        }
        .field__item {
          .field--name-field-media-image {
            .field__item {
              img {
                width: 100%;
                height: 250px;
              }
            }
          }
        }
      }
    }
  }
  &.three_columns {
    .ept-container {
      .field--name-field-ept-image-gallery {
        display: grid;
        gap: 15px;
        grid-template-columns: auto;
        @media(min-width:481px) {
          grid-template-columns: auto auto auto;
        }
        .field__item {
          .field--name-field-media-image {
            .field__item {
              img {
                width: 100%;
                height: 250px;
                object-fit: cover;
              }
            }
          }
        }
      }
    }
  }

  &.four_columns {
    .ept-container {
      .field--name-field-ept-image-gallery {
        display: grid;
        gap: 15px;
        grid-template-columns: auto;
        @media(min-width:481px) {
          grid-template-columns: auto auto;
        }
        @media(min-width:769px) {
          grid-template-columns: auto auto auto auto;
        }
        .field__item {
          .field--name-field-media-image {
            .field__item {
              img {
                width: 100%;
                height: 200px;
                object-fit: cover;
              }
            }
          }
        }
      }
    }
  }
  &.five_columns {
    .ept-container {
      .field--name-field-ept-image-gallery {
        display: grid;
        gap: 15px;
        grid-template-columns: auto;
        @media(min-width:481px) {
          grid-template-columns: auto auto;
        }
        @media(min-width:769px) {
          grid-template-columns: repeat(5, auto);
        }
        .field__item {
          .field--name-field-media-image {
            .field__item {
              img {
                width: 100%;
                height: 200px;
                object-fit: cover;
              }
            }
          }
        }
      }
    }
  }
  &.fixed_size_image {
    .ept-container {
      .field--name-field-ept-image-gallery {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        @media(min-width:481px) {
        }
        @media(min-width:769px) {
        }
        .field__item {
          width: 100%;
          margin-bottom: 15px;
          @media(min-width:481px){
            width: 200px;
          }
          .field--name-field-media-image {
            .field__item {
              img {
                width: 100%;
                height: 200px;
                object-fit: cover;
              }
            }
          }
        }
      }
    }
  }
  &.fluid_grid {
    .ept-container {
      .field--name-field-ept-image-gallery {
        column-gap: 10px;
        columns: 1;
        @media(min-width:481px) {
          columns: 2;
        }
        @media(min-width:769px) {
          columns: 3;
        }
        @media(min-width:1025px) {
          columns: 4;
        }
        .field__item {
          img {
            margin-bottom: 15px;
            width:100%;
            object-fit: cover;
            height: 200px;
            @media(min-width:481px) {
              height: auto;
            }
          }
        }
      }
    }
  }
  &.featured_images_grid {
    .ept-container {
      .field--name-field-ept-image-gallery {
        column-gap: 10px;
        columns: 1;
        @media(min-width:481px) {
          columns: 2;
        }
        @media(min-width:769px) {
          columns: 3;
        }
        .field__item {
          img{
          margin-bottom: 15px;
          width:100%;
          object-fit: cover;
          height: 200px;
          }
          &:nth-child(1) {
            img{
              @media(min-width:481px) {
                height: 415px;
              }
            }
          }
        }
      }
    }
  }
}
